
<h1>カテゴリーを表示</h1>

<ul>
  <% @parents.each do |parent| %>
    
    <li>
      <span style="color: blue"><strong><%= parent.name =%></strong></span>
      <%= link_to "編集",[:edit,parent] =%>
      <%= link_to "削除",parent,method: :delete =%>
    </li>
      
      <% parent.children.each do |child| %>
        <p>
          <%= link_to child.name =%>
          <%= link_to "編集",[:edit,child] =%>
          <%= link_to "削除",child,method: :delete =%>
        </p>
      <% end %>
  
  <% end %>
</ul>







