
<div data-role="header" data-theme="b">
  <h1>エキスパートを選ぶ</h1>
</div>

<!--
<form method="post" action="/experts/search">
  <p>
     候補1：<input type="text" name="travel[]" /><br />
     候補2：<input type="text" name="travel[]" /><br />
     候補3：<input type="text" name="travel[]" /><br />
  <input type="submit" value="送信" />
  <p>
  
</form>
-->


<!--     ここは管理画面のみだけに表示 -->
<!--
<p><a href="/categories/new?type=parent">親カテゴリーを追加</a></p>
<p><a href="/categories/new?type=children">子カテゴリーを追加</a></p>
-->


<form method="post" action="/experts/search">

  
  <ul>
    <% @parents.each do |parent| %>
    
      <li>
        <span style="color: blue"><strong><%= parent.name =%></strong></span>
 
        <!-- ここは管理画面のみだけに表示 -->　
        <!--
        <%= link_to "編集",[:edit,parent] =%> 
        <%= link_to "削除",parent,method: :delete =%> 
        -->

      </li>
        <% parent.children.each do |child| %>
          
            <label>
              <input type="checkbox" name="category" value="<%= child.id %>" > 
              <%= child.name %>
            </label>
            <!-- ここは管理画面のみだけに表示 -->　
            <!--
            <%= link_to "編集",[:edit,child] =%>
            <%= link_to "削除",child,method: :delete =%>
            -->

        <% end %>
  
    <% end %>
  </ul>



</form>




