
<% if @parent %>
   
  <h1>親カテゴリーを追加</h1>
    
    <%= form_for @parent do |form| %>     
      <table>
        <tr>
          <th><%= form.label :name,"親カテゴリー名" %></th>
          <td><%= form.text_field :name %> </td>
        </tr>

        <input type="hidden" name="type" value="parent" />
        
        <tr>
          <td><%= form.submit "追加" %></td>
        </tr>
      </table>
    <% end %>

  

<% elsif @children %>
  <h1>子カテゴリーを追加</h1>

  <%= form_for @children do |form| %>
    <table>
      <tr>
        <th><%= form.label :parent_id,"親カテゴリー" %> </th>     
        <td><%= form.select :parent_id ,option(@parents) %></td>
      </tr>

      <input type="hidden" name="type" value="children" />
      
      <tr>
        <th><%= form.label :name,"子カテゴリー名" %></th>
        <td><%= form.text_field :name %></td>
      </tr>

      <tr>
        <td><%= form.submit "追加" %></td>
      </tr>

    </table>
  <% end %>


<% end %>









