
<% if @flag %>
  <!-- カテゴリー検索じゃない場合はこちらにくる。--!>
  <div data-role="header" data-theme="b">
    <h1>エキスパート一覧</h1>
  </div>

  <p>全<%= @experts.size %>件</p>

  <ul data-role="listview" data-filter="true" data-filter-placeholder="絞り込み">  
    <% @experts.each do |expert| %>
      
      <li data-filtertext="<%= categorytext(expert)%>">
        <%= link_to expert.name + "さん",expert_path(expert.id) %>
        <%= categorytext(expert) %>
      </li>
    <% end %>
  </ul>




<% else %>
  <!-- カテゴリー検索からきた場合はこちらにくる。 -->
  <div data-role="header" data-theme="b">
    <h1>エキスパートの検索結果</h1>
  </div>

  <p><span style="color: red"><%= @experts.size%></span>件ヒット</p>

  <ol data-role="listview">

    <% @experts.each do |expert| %>
      <li>
        <%= link_to expert.name + "さん",expert_path(expert.id) %>
        <%= categorytext(expert) %>  
      </li>
    <% end %>
  </ol>


<% end %>





